<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /projects/react/resume-website/

# Redirect all requests to index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
</IfModule>
