@keyframes shimmer {
  0% { background-position:   100% 0; }
  100% { background-position: -100% 0 }
}

.animated-text {
  display: inline-block;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* progress-bar.css */
.progress-bar {
  background-image: linear-gradient(
    90deg,
    #ea5147 25%,
    rgba(255, 75, 75, 0.5) 50%,
    #ea5147 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2.5s infinite;

}

body {
  font-family: "Raleway", sans-serif;

}


html {
  scroll-behavior: smooth;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}